# Database Configuration
DB_USER=fileadmin
DB_PASSWORD=change_me_before_shipping
DB_NAME=filesharingdb

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_before_shipping

# Backend Configuration
NODE_ENV=production
JWT_SECRET=your_jwt_secret_key_change_in_production
API_PORT=3000
RATE_LIMIT_MAX=2000
RATE_LIMIT_WINDOW_MS=900000
REDIS_URL=redis://redis:6379
RESEND_API_KEY=re_bNWFHPud_9kk9V8p3mjsxjPKXScaBw58c
RESEND_FROM_EMAIL=onboarding@resend.dev
CLOUDFLARED_TUNNEL_TOKEN=eyJhIjoiNWI4NGFiZTZkMmQyN2JjMDlmMDQ1Yjk2NjA3ZjUzMzQiLCJ0IjoiOThkMDNkODEtYjI4Zi00MTU5LWFlOTMtNjBmYzY2ZTYwN2QyIiwicyI6IlkyTTNaakk1TWpndE5XWm1PUzAwWldFeUxXRTFPVGt0TlRkak5EVTJPREF4TldGaCJ9

# Frontend Configuration
REACT_APP_API_URL=/api

# Public Ports
APP_HTTP_PORT=80
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
