NODE_ENV=development
API_PORT=3000
JWT_SECRET=your_jwt_secret_key_change_in_production
RATE_LIMIT_MAX=2000
RATE_LIMIT_WINDOW_MS=900000
REDIS_URL=redis://localhost:6379

DB_HOST=localhost
DB_PORT=5432
DB_USER=fileadmin
DB_PASSWORD=fileadmin123
DB_NAME=filesharingdb

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_SSL=false
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
RESEND_API_KEY=re_bNWFHPud_9kk9V8p3mjsxjPKXScaBw58c
RESEND_FROM_EMAIL=onboarding@resend.dev
